/* Global Style */
* {
    margin: 0;
    padding: 0;
}

/* Defined Color */
:root {
    --white: #f2f2f2;
    --black: #222222;
    --main: #008060;
    --light: #76d7c4;
}

body {
    background: var(--white);
}

::-webkit-scrollbar {
    background: var(--light);
}

::-webkit-scrollbar-thumb {
    background: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
input,
button,
a,
p {
    font-family: Montserrat;
    color: var(--black);
    line-height: 100%;
}

/* Nav Style */
nav {
    padding: 2vh 2vw;
    display: flex;
    justify-content: left;
    align-items: center;
    background: var(--main);
}

nav img {
    height: 40px;
    margin-right: 20px;
}

nav h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--white);
}

/* Form Style */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
}

.center .box h2 {
    margin-bottom: 20px;
}

.center .box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: fit-content;
}

.center .box form input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px var(--light) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.center .box form .text {
    outline: none;
    border: none;
    border-bottom: 3px solid var(--main);
    background: var(--white);
    padding: 10px 20px;
    position: relative;
}

.center .box form #submit {
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: 3px solid var(--main);
    color: var(--main);
    padding: 10px 20px;
    position: relative;
    transition: color 500ms;
    z-index: 0;
}

.center .box form #submit:hover {
    color: var(--white);
}

.center .box form #submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main);
    transform: scaleY(0);
    transition: transform 500ms;
    transform-origin: top;
    z-index: -1;
}

.center .box form #submit:hover::before {
    transform: scaleY(1);
}

/* Résultat de la requête */
.center .response {
    display: flex;
    flex-direction: column;
}

.center .response #more {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: var(--main);
    margin-bottom: 10px;
}

.center .response ul {
    list-style-type: none;
    margin-bottom: 10px;
}

.center .response ul li {
    margin-bottom: 10px;
}

.center .response h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Animation de recherche */
.lds-ellipsis {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--main);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
